<header>
  <h1>Famous Operas App</h1>
<nav>
  <ul class="right">
      <% if (currentUser) { %>
    <li>
  <form class="" action="/users?_method=DELETE" method="POST">
    <input type="submit" value="Log Out" class="btn-small red" />
  </form>
    </li>
  <% } else { %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/users/login">Log In</a></li>
      <% } %>
      <li><a href="/opera">Back to Homepage</a></li>
    <li><a href="/opera/new">Create a New Opera</a></li>
     <% if (currentUser) { %>
      Welcome <%= currentUser.username %>
    <% } %>
  </ul>
</nav>
</header>
