<%- include ('./partials/head.ejs') %>

  <body>
    <div class="body-overlay">
      <!-- ============ HEADER ============ -->
      <%- include ('./partials/header.ejs') %>
      <!-- ============ MAIN ============ -->
      <main class="show-main">

        <h2>Thank you for using our website!</h2>


<div>
  <img src="https://images.unsplash.com/photo-1562329265-95a6d7a83440?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1264&q=80">


<!-- ============ FOOTER ============ -->
      <%- include ('./partials/footer.ejs') %>
  </div>
</body>
