<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Form</title>
  </head>
  <body>
    <h1>New Opera Page</h1>

    <form action="/opera" method="POST">

      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>

      <label for="composer">Composer</label>
      <input type="text" name="composer" id="composer" />

      <input type="submit" name="" value="Create Opera">

    </form>
  </body>
</html>
