<%- include ('./partials/head.ejs') %>

  <body>
    <div class="body-overlay">
      <!-- ============ HEADER ============ -->
      <%- include ('./partials/header.ejs') %>
      <!-- ============ MAIN ============ -->
      <main class="show-main">
          <h1>Create a New Opera</h1><br/>
            <form action="/opera" method="POST">

              <input type="text" name="name" placeholder="name"><br/>
              <input type="text" name="url" placeholder="url"><br/>
              <input type="text" name="composer" placeholder="composer"><br/>
              <input type="text" name="year_written" placeholder="year written"><br/>
              <input type="text" name="characters" placeholder="characters"><br/>
              <input type="text" name="famous_performers" placeholder="famous performers"><br/>
              <input type="text" name="arias" placeholder="arias"><br/>
              <input type="submit" name="" value="ADD"/>
            </form>
          </main>
    <!-- ============ FOOTER ============ -->
      <%- include ('./partials/footer.ejs') %>
      </div>
    </body>
  </html>
