<%- include ('./partials/head.ejs') %>

  <body>
    <div class="body-overlay">
      <!-- ============ HEADER ============ -->
      <%- include ('./partials/header.ejs') %>
      <!-- ============ MAIN ============ -->
      <main class="show-main">
          <h1>Create a New Opera</h1><br/>
            <form action="/opera" method="POST">

              <input type="text" placeholder="name"><br/>
              <input type="text" placeholder="composer"><br/>
              <input type="text" placeholder="year written"><br/>
              <input type="text" placeholder="characters"><br/>
              <input type="text" placeholder="famous performers"><br/>
              <input type="text" placeholder="arias"><br/>
              <input type="submit" value="ADD">
            </form>
          </main>
    <!-- ============ FOOTER ============ -->
      <%- include ('./partials/footer.ejs') %>
      </div>
    </body>
  </html>
