<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Operas Show</title>
  </head>
  <body>
      <h1>Operas show page</h1>

<a href="/opera">Back to Index</a>
  </body>
</html>
