<%- include ('../partials/head.ejs') %>

  <body>
    <div class="body-overlay">
      <!-- ============ HEADER ============ -->
      <%- include ('../partials/header.ejs') %>
      <!-- ============ MAIN ============ -->
      <main class="show-main">

          <h1>User Login page</h1>
            <form action="/sessions" method="POST">

              User Name: <input type="text" name="username" /><br/>

              Password: <input type="password" name="password" /><br/>

              <input type="submit" name="" value="User sign in"/>
            </form>
          </main>
    <!-- ============ FOOTER ============ -->
      <%- include ('../partials/footer.ejs') %>
      </div>
    </body>
